/* Contextual components buttons */

.c4l-keyconcept-icon::before {
    content: '';
}

.c4l-keyconcept-icon .c4l-button-text::before {
    content: url([[pix:tiny_c4lauthor|noun_project_icons/c4l_keyconcept_icon]]);
}

.c4l-tip-icon::before {
    content: '';
}

.c4l-tip-icon .c4l-button-text::before {
    content: url([[pix:tiny_c4lauthor|noun_project_icons/c4l_tip_icon]]);
}

.c4l-reminder-icon::before {
    content: '';
}

.c4l-reminder-icon .c4l-button-text::before {
    content: url([[pix:tiny_c4lauthor|noun_project_icons/c4l_reminder_icon]]);
}

.c4l-attention-icon::before {
    content: '';
}

.c4l-attention-icon .c4l-button-text::before {
    content: url([[pix:tiny_c4lauthor|c4l_attention_icon]]);
}

.c4l-quote-icon::before {
    content: '';
}

.c4l-quote-icon .c4l-button-text::before {
    content: url([[pix:tiny_c4lauthor|noun_project_icons/c4l_quote_icon]]);
}

.c4l-dodontcards-icon::before {
    content: '';
}

.c4l-dodontcards-icon .c4l-button-text::before {
    content: url([[pix:tiny_c4lauthor|c4l_dodontcards_icon]]);
}

.c4l-readingcontext-icon::before {
    content: '';
}

.c4l-readingcontext-icon .c4l-button-text::before {
    content: url([[pix:tiny_c4lauthor|noun_project_icons/c4l_readingcontext_icon]]);
}

.c4l-example-icon::before {
    content: '';
}

.c4l-example-icon .c4l-button-text::before {
    content: url([[pix:tiny_c4lauthor|c4l_example_icon]]);
}

.c4l-figure-icon::before {
    content: '';
}

.c4l-figure-icon .c4l-button-text::before {
    content: url([[pix:tiny_c4lauthor|c4l_figure_icon]]);
}

.c4l-tag-icon::before {
    content: '';
}

.c4l-tag-icon .c4l-button-text::before {
    content: url([[pix:tiny_c4lauthor|noun_project_icons/c4l_tag_icon]]);
}

.c4l-attention-icon .c4l-button-text::before {
    content: url([[pix:tiny_c4lauthor|c4l_attention_icon]]) !important;
    position: relative;
    top: -7px;
}

.c4l-attention-icon .tiny_c4lauthor__comp-name {
    position: relative;
    top: -6px;
}

.c4l-estimatedtime-icon .c4l-button-text::before {
    content: url([[pix:tiny_c4lauthor|noun_project_icons/c4l_estimatedtime_icon]]) !important;
}

.c4l-duedate-icon .c4l-button-text::before {
    content: url([[pix:tiny_c4lauthor|noun_project_icons/c4l_duedate_icon]]) !important;
}

.c4l-proceduralcontext-icon .c4l-button-text::before {
    content: url([[pix:tiny_c4lauthor|c4l_proceduralcontext_icon]]) !important;
}

.c4l-learningoutcomes-icon .c4l-button-text::before {
    content: url([[pix:tiny_c4lauthor|c4l_learningoutcomes_icon]]) !important;
}

.c4l-conceptreview-icon::before {
    content: '';
}

.c4l-conceptreview-icon .c4l-button-text::before {
    content: url([[pix:tiny_c4lauthor|c4l_conceptreview_icon]]);
}

.c4l-furtherreading-icon::before {
    content: '';
}

.c4l-furtherreading-icon .c4l-button-text::before {
    content: url([[pix:tiny_c4lauthor|c4l_furtherreading_icon]]);
}

.c4l-gradingvalue-icon .c4l-button-text::before {
    content: url([[pix:tiny_c4lauthor|noun_project_icons/c4l_gradingvalue_icon]]) !important;
}

.c4l-expectedfeedback-icon .c4l-button-text::before {
    content: url([[pix:tiny_c4lauthor|noun_project_icons/c4l_expectedfeedback_icon]]) !important;
}

.c4l-aiuseallowed-icon .c4l-button-text::before {
    content: url([[pix:tiny_c4lauthor|c4l_aiuseallowed_icon]]) !important;
}

.c4l-aiusenotallowed-icon .c4l-button-text::before {
    content: url([[pix:tiny_c4lauthor|c4l_aiusenotallowed_icon]]) !important;
}

.c4l-aiusereported-icon .c4l-button-text::before {
    content: url([[pix:tiny_c4lauthor|c4l_aiusereported_icon]]) !important;
}

/* Helper components buttons */

.c4l-allpurposecard-icon::before {
    content: '';
}

.c4l-allpurposecard-icon .c4l-button-text::before {
    content: url([[pix:tiny_c4lauthor|c4l_allpurposecard_icon]]);
}

.c4l-inlinetag-icon::before {
    content: '';
}

.c4l-inlinetag-icon .c4l-button-text::before {
    content: url([[pix:tiny_c4lauthor|c4l_inlinetag_icon]]);
}